html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
p{
    font-size: 1.5rem;
    font-weight: 300;
}
a{
    text-decoration: none;
}
.first-section{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("images/bg-water.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.first-section-container{
    height: 100vh;
    display: flex;
    flex-flow: column;
}
nav{
    display: flex;
    padding: 2.5rem 2.25rem 1rem 2.25rem;
    text-shadow: rgba(0, 0, 0, 0.2) 0 0  1rem;
    font-size: 1.1rem;
}
.services-list, .contacts-list{
    display: flex;
}
.contacts-list{
    margin-left: auto;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1rem;
}
.services-list a{
    margin-right: 2rem;
    letter-spacing: -.05rem;
    font-weight: bold;
}
.contacts-list a{
    margin-left: 2rem;
    letter-spacing: -.05rem;
    font-weight: bold;
}
.h1-div{
    flex: 1 1 auto;
    position: relative;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.down-arrow{
    margin: auto;
    padding-bottom: 1rem;
}
.arrow-svg:hover{
    opacity: 0.8;
}
.second-section{
    margin: 0;
    padding: 0;
    display: block;
}
.second-section-container{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-us-text-container{
    margin-left: 100px;
    max-width: 460px;
    display: table;
}
.about-us-vertically-centred-text-container{
    display: table-cell;
    vertical-align: middle;
}
h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-block-end: 0.5em;
}
.third-section{
    display: block;
}
.third-section-container{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.o-restauracji-text-container{
    margin-right: 80px;
    max-width: 460px;
    display: table;
}
.o-restauracji-vertically-centred-text-container{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 300;
}
h3{
    font-size: 2rem;
    margin-block-end: 0.5em;
}
.fourth-section{
    display: block;
}
.fourth-section-container{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.o-basenie-text-container{
    margin-left: 100px;
    max-width: 460px;
    display: table;
}
.o-basenie-vertically-centred-text-container{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 300;
}
.fifth-section{
    display: block;
}
.fifth-section-container{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.o-pilce-noznej-text-container{
    margin-right: 80px;
    max-width: 460px;
    display: table;
}
.o-pilce-noznej-vertically-centred-text-container{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 300;
}
.sixth-section{
    display: block;
}
.sixth-section-container{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.o-parku-liniowym-text-container{
    margin-left: 100px;
    max-width: 460px;
    display: table;
}
.o-parku-liniowym-vertically-centred-text-container{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 300;
}
.seventh-section{
    display: block;
}
.seventh-section-container{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.o-woody-park-text-container{
    margin-right: 80px;
    max-width: 460px;
    display: table;
}
.o-woody-park-vertically-centred-text-container{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 300;
}
.contacts-section h2{
    text-align: center;
}
.contacts-container{
    max-width: 1200;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 60px;
}
.contacts-container ul{
    display: flex;
    justify-content: space-between;
}
.contacts-container h4{
    text-align: center;
}
.contacts-container a{
    text-align: center;
    color: grey;
}
.footer{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer p{
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    max-width: 17rem;
    padding: 0.7rem 0 0.5rem 2rem;
}
.footer a{
    margin-left: auto;
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}